body {
    color: white;
    background-color: #261d37;
    max-width: 1000px;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

details>p {
    margin-bottom: 0rem;
    margin-left: 2rem;
}

p>span {
    margin-right: 1rem;
    color: #ffff88;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

h1>em {
    color: #aa0000;
}

.dirlist>li {
    list-style-type: none;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 100%;
    padding: 2px;
    max-width: 12em;
}

.dirlist>li>a {
    color: white;
    text-decoration: none !important;
    margin: 1em;

}

.dirlist>li>a:hover {
    color: gray;
}

.abc {
    text-decoration: none;
}

#mainImage {
    width: 300px; 
    height: auto; 
    margin: 10%;
}

@media screen and (width > 800px) {
    .dirlist {
        display: flex;
    }

    .selection_area {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin-top: 5em;
  }
}

@media screen and (max-width: 800px) {
 .dirlist>li {  
    width: 10em;
    text-align: center; 
 }
}