
* { box-sizing: border-box; }

/* ---- grid ---- */
.grid {
  max-width: 1200px;
  margin-left: 1em;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 33%;
}

.grid-item {
  height: 10vh;
  float: left;
}

.grid-item--width1 { width: 16.667%; }
.grid-item--width2 { width: 33.333%; }
.grid-item--width3 { width: 50%; }

@media screen and (width >= 1920px) {
  .grid-item--height1 { height: 30vh; }
  .grid-item--height2 { height: 60vh; }
}

@media screen and (width < 1920px) and (width >= 960px) {
  .grid-item--height1 { height: 25vh; }
  .grid-item--height2 { height: 50vh; }
}

@media screen and (width < 960px) and (width >= 720px) {
  .grid-item--height1 { height: 20vh; }
  .grid-item--height2 { height: 40vh; }
}

@media screen and (width < 720px) and (width >= 540px) {
  .grid-item--height1 { height: 15vh; }
  .grid-item--height2 { height: 30vh; }
}

@media screen and (width < 540px) {
  .grid-item--height1 { height: 10vh; }
  .grid-item--height2 { height: 20vh; }
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1vh;
}

/* Based on https://codepen.io/desandro/pen/nOmLZQ */