
* { box-sizing: border-box; }

/* ---- grid ---- */
.grid {
  max-width: 1200px;
  margin-left: 1em;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 400px;
}

.grid-item {
  height: 400px;
  float: left;
  border: 1px solid red;
}

@media screen and (min-width: 600px) {

  .grid-item--width1 { width: 200px; }
  .grid-item--width2 { width: 400px; }
  .grid-item--width3 { width: 600px; }

  .grid-item--height1 { height: 200px; }
  .grid-item--height2 { height: 400px; }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1vh;
  }
}

@media screen and (width < 600px) {
.grid-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
}

/* Based on https://codepen.io/desandro/pen/nOmLZQ */