
* { box-sizing: border-box; }

/* ---- grid ---- */
.grid {
  max-width: 1200px;
  margin-left: 1em;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */


@media screen and (min-width: 800px) {
  .grid-sizer,
  .grid-item {
  width: 400px;
}

.grid-item {
  height: 400px;
  float: left;
}

  .grid-item--width1 { width: 133px; }
  .grid-item--width2 { width: 266px; }
  .grid-item--width3 { width: 400px; }

  .grid-item--height1 { height: 133px; }
  .grid-item--height2 { height: 266px; }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1vh;
  }
}

@media screen and (width < 800px) {
  .grid-item img {
      width: 100%;
      height: auto;
      object-fit: contain;
  }
}

/* Based on https://codepen.io/desandro/pen/nOmLZQ */