body {
    color: white;
    background-color: #261d37;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

details>p {
    margin-bottom: 0rem;
    margin-left: 2rem;
}

p>span {
    margin-right: 1rem;
    color: #ffff88;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 300%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 200%;
    }
}

h1>em {
    color: #aa0000;
}

.dirlist {
    display: flex;
}

.dirlist>li {
    list-style-type: none;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 200%;
}

.dirlist>li>a {
    color: white;
    text-decoration: none !important;
    margin: 1em;

}

.dirlist>li>a:hover {
    color: gray;
}

.abc {
    text-decoration: none;
}

