
* { box-sizing: border-box; }


/* ---- grid ---- */
.grid {
  /*max-width: 1800px;*/
  width: 100%;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

@media screen and (min-width: 600px) {
  .grid-sizer, .grid-item {
  width: 133px;
}

.grid-item {
  height: 133px;
  float: left;
}

  .grid-item--width1 { width: 133px; }
  .grid-item--width2 { width: 266px; }
  .grid-item--width3 { width: 400px; }

  .grid-item--height1 { height: 133px; }
  .grid-item--height2 { height: 266px; }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1vh;
  }

  .grid-item img:hover {
    filter: brightness(75%);
  }

  #main_container {
    width: 90vw; 
    margin: 5vw; 
  } 
}

@media screen and (width < 600px) {
  img {
      width: 100%;
      height: auto;
      object-fit: contain;
  }
  .grid {
    margin: 0;
  }
  #main_container {
    width: 100vw; 
    margin: 0; 
  }
}


/* Based on https://codepen.io/desandro/pen/nOmLZQ */